<html lang="en">
<head>
  <title>Doplhine</title>
  <style>
  .navbar{
     background-color: #0d47a1;
  }
  .nav{
    margin-right:20px;
  }
  .form-group{
    padding-top:30px;
    padding-left:15px;
    padding-bottom: 15px;
  }
   .glyphicon-log-out{
    font-size: 15px;
    color:#fff !important;
  }
   .navbar-brand{
    color: #fff !important;
    font:400 26px "Montserrat",sans-serif;
  }
  </style>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="row">
    <div class="navbar-header">
      <%= image_tag("logo.jpeg", :size => "100x70")%>
    </div>
     <a class="navbar-brand" href="#">Dolphine</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <%=link_to " Log Out", sessions_path("current"), method: "delete", class: "glyphicon glyphicon-log-out"%>
    </li>
    </ul>
  </div>
</nav>
<%= render 'form' %>
</body>
</html> 
